<form [formGroup]="coinForm" (ngSubmit)="onSubmit()">
  <div>
    Get Coins Data
  </div>
  <div class="form-group">
    <label>Order By: </label>
    <select formControlName="sort" (change)="selectSort($event)">
      <option>price_usd</option>
      <option>current_marketcap_usd</option>
    </select>
  </div>
  <div class="form-group">
      <label>Lines: </label>
      <input type="number" min="1" formControlName="lines">
    </div>
  <div>
    <button id="apply_button">Apply</button>
  </div>
</form>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Symbol</th>
    <th>Price</th>
    <th>MArket Cap.</th>
  </tr>
  <tr *ngFor="let cn of service.coinList">
    <td>
      {{cn.name}}
    </td>
    <td>
      {{cn.symbol}}
    </td>
    <td>
      {{cn.price_usd}}
    </td>
    <td>
      {{cn.current_marketcap_usd}}
    </td>
  </tr>
</table>